.project {
  padding: 0 7rem 13rem; //12.5

  @include xl {
    padding: 0 3rem 10rem;
  }

  @include sm {
    padding: 0 1rem 5rem;
  }

  &-banner {
    // top: 28rem;
    // right: 7rem;
    // padding: 0;
    z-index: -1;
    width: 60%;
    height: 20rem;
    float: right;
    object-fit: cover;

    @include sm {
      position: relative;
      right: 1rem;
    }
  }

  &-specs {
    padding-top: 13rem;

    @include sm {
      padding-top: 20rem;
    }
  }

  &-description {
    width: 80%;
    padding-left: 3rem;
    padding-top: 10rem;

    @include xl {
      padding-left: 2rem;
      padding-top: 7rem;
    }

    @include sm {
      width: 100%;
      padding-top: 4rem;
      padding-left: 0;
    }
  }
}
