.atelier {
  padding: 0 7rem 12.5rem;

  @include xl {
    padding: 0 3rem 8rem;
  }

  @include sm {
    padding: 0 1rem 5rem;
  }
  &-hero {
    padding-bottom: 22rem;

    @include sm {
      padding-bottom: 16rem;
    }

    &-banner {
      position: absolute;
      top: 18rem;
      right: 16.5rem;
      padding: 0;
      z-index: -1;

      @include md {
        position: absolute;
        top: 18rem;
        right: 10%;
        width: 100%;
      }
      @include sm {
        position: absolute;
        top: 18rem;
        right: 10%;
        width: 100%;
      }
    }
  }

  &-information {
    margin-top: -8rem;
    padding-bottom: 5rem;
    .text {
      border-top: 1px solid black;
      margin-top: 7rem;
      padding-top: 1.5rem;

      @include md {
        margin-top: 2rem;
        padding-top: 2rem;
      }

      @include sm {
        margin-top: 2rem;
        padding-top: 2rem;
      }

      @include sm {
        padding-top: 0.5rem;
      }
    }

    &-1 {
      display: flex;
      width: 45%;
      margin-left: 7rem;

      @include sm {
        display: block;
        width: 100%;
        margin-left: 0;
      }
    }

    &-2 {
      display: flex;
      width: 45%;
      margin-left: 21rem;

      @include sm {
        display: block;
        width: 100%;
        margin-left: 0;
      }
    }

    &-3 {
      display: flex;
      width: 45%;
      margin-left: 14rem;

      @include sm {
        display: block;
        width: 100%;
        margin-left: 0;
      }
    }

    @include sm {
      padding-bottom: 5rem;
    }
  }

  &-team {
    margin-top: 5rem;

    &-hero {
      border-top: 1px solid $primary-color;
    }
  }

  &-wrapper {
    padding-left: 7rem;
    width: 100%;
    display: flex;
    overflow-x: auto;

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  &-quote {
    padding: 10rem 7rem 15rem;

    @include md {
      padding: 9rem 4rem 15rem;
    }

    @include sm {
      padding: 4rem 4rem 7rem;
    }
  }
}
